body.dark {
  transition: 0.5s;
  color: white !important;
  background-color: #2f3640;
}
body.dark .loader {
  background-color: #2f3640;
}
body.dark header {
  transition: 0.5s;
  background-color: #353b48;
}
body.dark header .profile img {
  width: 45px;
  height: 45px;
  box-shadow: 0 1px 4px 2px #f24e1e;
}
body.dark aside {
  background-color: #171B20;
}
body.dark #userProfileModal {
  background-color: #171B20 !important;
  color: #f24e1e;
}
body.dark #userProfileModal i {
  color: #f24e1e;
}
body.dark #userProfileModal button .fa-camera,
body.dark #userProfileModal button .fa-check {
  color: white;
}
body.dark input {
  background-color: #2F3640;
  color: #fc5a29;
}
body.dark .fa-moon {
  display: none;
}
body.dark .fa-sun {
  display: block;
  cursor: pointer;
}
body.dark #chat {
  background-color: #2f3640;
}
body.dark #chat .right {
  background: url("https://krot.info/uploads/posts/2021-02/1613661522_28-p-foni-dlya-chatov-telegram-28.jpg");
}
body.dark #chat .right .message {
  color: #fff;
}
body.dark .addImgModal .row {
  background-color: #2F3640 !important;
}
body.dark .addImgModal input, body.dark .addImgModal textarea {
  color: #f24e1e !important;
  font-weight: 400;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 25px;
  height: 25px;
  padding-top: 5px;
  transform: scale(1.5);
}
.label .fa-moon {
  display: block;
  color: black;
  cursor: pointer;
}
.label .fa-sun {
  display: none;
  color: #ff7300;
}

.bgHide {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.form-control:focus {
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1550px;
  width: 100%;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
  max-width: 1550px;
  padding: 20px 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #logo {
  display: inline-block;
  height: 60px;
  cursor: pointer;
}
header #logocam {
  height: 40px;
  display: none;
}
header form {
  border-radius: 50px;
  overflow: hidden;
  width: 60%;
}
header form input {
  border: none;
  padding: 7px 20px;
  outline: none;
  border-radius: 50px;
  width: 100%;
  box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.1);
  caret-color: orange;
}
header form input::placeholder {
  color: silver;
}
header .logIn .logInBtn {
  width: 120px;
  padding: 8px 0px;
  border-radius: 50px;
  background-image: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  box-shadow: 0 2px 4px rgba(255, 122, 5, 0.5);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  outline: none;
}
header .profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.3);
}

section {
  display: flex;
}
section aside {
  transition: 0.5s;
  position: fixed;
  padding: 20px 0;
  z-index: 990;
  top: 70 !important;
  left: 0;
  width: 300px;
  height: 100%;
  max-height: 200vh;
  background-color: white;
}
section aside.hide {
  left: -260px;
}
section aside.hide .bgHide {
  display: block;
}
section aside.hide .arrowBtn i {
  transform: rotate(180deg);
}
section aside.hide li {
  justify-content: space-between;
}
section aside.hide li .minImg {
  order: 2;
  margin: 5px 5px;
}
section aside.hide li span {
  order: 1;
}
section aside #menuUsers {
  overflow: auto;
  height: 100vh;
  padding-bottom: 30px;
}
section aside #menuUsers .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
section aside #menuUsers .header span {
  font-size: 18px;
}
section aside #menuUsers .header span:nth-child(2) {
  color: #00a8ff;
  font-weight: bold;
  font-size: 24px;
}
section aside ul {
  margin: 0;
  padding: 0;
}
section aside ul li {
  padding: 5px 0 5px 30px !important;
  cursor: pointer;
  width: 100%;
  list-style-type: none !important;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
section aside ul li .minImg {
  margin: 5px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  object-fit: cover;
}
section aside ul li span {
  margin-left: 20px;
}
section aside ul li:hover, section aside ul li.active {
  background-image: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  color: white;
}
section aside .aside-control {
  position: relative;
  z-index: 9;
  width: 100% !important;
}
section aside .aside-control .arrowBtn {
  position: absolute;
  top: 0;
  right: -50px;
  margin: 10px;
  z-index: 100;
  font-size: 20px;
  padding: 20px;
  background: rgba(210, 192, 189, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 0 50% 50% 0;
}
section aside .aside-control .arrowBtn i {
  color: white;
  transition: all 0.3s ease-in-out;
}
section main {
  max-width: 1550px;
  width: 100%;
}
section main .gallery {
  column-count: 5;
  margin: 0 auto;
  padding: 30px 50px;
}
section main .gallery .img-box {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
section main .gallery .img-box:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
section main .gallery .img-box:hover span {
  opacity: 1;
}
section main .gallery .img-box:hover img {
  filter: blur(2px);
}
section main .gallery .img-box img {
  width: 100%;
  min-height: 150px;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.5s;
}
section main .gallery .img-box span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
section main .gallery .img-box span div {
  font-size: 17px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
section main .gallery .img-box span .download {
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: red;
}
section main .gallery .img-box span .comment {
  left: 10px;
  bottom: 20px;
  width: 100px;
  height: 35px;
  font-size: 18px;
  color: white;
}
section main .gallery .img-box span .comment i {
  color: red;
  font-size: 32px;
  margin-right: 10px;
}
section main .gallery .img-box span .cloud {
  right: 60px;
  bottom: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f2e9e4;
  font-size: 20px;
  color: black !important;
}
section main .gallery .img-box span .nuqta {
  right: 10px;
  bottom: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f2e9e4;
  font-size: 20px;
  color: black !important;
  overflow: hidden;
}
section main .gallery .img-box span .nuqta img {
  width: 35px !important;
  height: 35px !important;
}
section main .gallery .add-img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
section main .gallery .add-img i {
  font-size: 50px;
  color: #fff;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 111111111;
  top: 0;
  left: 0;
}
.hello img {
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 1231231231233;
}

.loader {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: orangered;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#faf3ed, #ffb19a, #faa085);
}

.loader span:nth-child(1) {
  filter: blur(5px);
}

.loader span:nth-child(2) {
  filter: blur(10px);
}

.loader span:nth-child(3) {
  filter: blur(25px);
}

.loader span:nth-child(4) {
  filter: blur(50px);
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: white;
  border: solid white 10px;
  border-radius: 50%;
}

@media screen and (max-width: 1110px) and (min-width: 775.01px) {
  section main .gallery {
    padding: 30px 40px 10px 40px;
    column-count: 4;
  }
  section aside {
    top: 134px;
  }
}
@media screen and (max-width: 990px) and (min-width: 200px) {
  #title {
    text-align: center;
    padding: 50px 30px 10px 30px;
  }

  .team-about {
    justify-content: center;
  }

  #girl-photo {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 775px) and (min-width: 490.01px) {
  #logocam {
    display: inline-block !important;
  }

  #logo {
    display: none !important;
  }

  header {
    padding: 15px 35px !important;
  }

  section aside {
    top: 70px !important;
  }
  section main .gallery {
    padding: 30px 30px 10px 30px;
    column-count: 3;
  }
}
@media screen and (max-width: 490px) and (min-width: 200px) {
  header {
    display: flex;
    flex-wrap: wrap;
    padding: 25px !important;
  }
  header #logo {
    height: 40px;
  }
  header form {
    order: 3;
    margin-top: 10px;
    width: 100%;
  }

  section aside {
    width: 260px;
    top: 140px !important;
  }
  section aside.hide {
    left: -260px;
  }
  section main .gallery {
    padding: 30px 20px 10px 20px;
    column-count: 2;
  }

  .team-about a {
    font-size: 15px !important;
    width: 250px !important;
    padding: 5px 10px !important;
  }

  .load-more {
    width: 200px !important;
    font-size: 16px !important;
    padding: 10px !important;
    margin: 0;
  }
}
@media screen and (max-width: 650px) and (min-width: 200px) {
  .comment {
    display: flex;
    left: 10px;
    top: 15px;
  }

  .cloud {
    left: 20px;
  }

  .nuqta {
    right: 20px;
  }
}
.bgHideOut {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

#userProfileModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  overflow: auto;
  background-color: white;
  transition: 0.3s linear;
  z-index: 1200;
}
#userProfileModal.hideProfile {
  right: -300px !important;
}
#userProfileModal #profile {
  border-bottom: 2px solid rgba(128, 128, 128, 0.158);
}
#userProfileModal button {
  box-shadow: none !important;
}
#userProfileModal button i {
  font-size: 20px;
}
#userProfileModal .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#userProfileModal .avatar button {
  position: absolute;
  top: 20px;
  right: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #0be881;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}
#userProfileModal .avatar button:hover {
  color: white;
}
#userProfileModal .avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  object-fit: cover;
  border: 5px solid transparent;
}
#userProfileModal .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#userProfileModal .info input, #userProfileModal .info textarea {
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0;
  border: none;
  outline: none;
}
#userProfileModal .info input.edit, #userProfileModal .info textarea.edit {
  color: #f68052;
}
#userProfileModal .info textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
}
#userProfileModal .info .userName {
  color: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  font-weight: bold;
}
#userProfileModal .info div {
  display: flex;
  align-items: center;
  justify-content: start;
}
#userProfileModal .info button {
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 10px;
  color: white;
}
#userProfileModal .info button i {
  font-size: 20px !important;
}
#userProfileModal .info .btn1 {
  background-color: #ff3838;
}
#userProfileModal .info .btn2 {
  background-color: #00a8ff;
}
#userProfileModal .info .btn3 {
  background-color: #fff200;
}

.addPhotoBox, .myGalleryBox {
  display: flex;
  justify-content: center;
}
.addPhotoBox .addImgButton, .addPhotoBox .myGalleryBtn, .myGalleryBox .addImgButton, .myGalleryBox .myGalleryBtn {
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #f24e1e;
  border-radius: 20px;
  padding: 8px 16px;
  color: white;
}
.addPhotoBox .addImgButton i, .addPhotoBox .myGalleryBtn i, .myGalleryBox .addImgButton i, .myGalleryBox .myGalleryBtn i {
  color: white !important;
}

.updateProfile {
  background-color: #0be881;
  border: 3px solid white !important;
}

body .gallery .item {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 20px;
  transition: 0.3s ease box-shadow;
}
body .gallery .item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body .gallery .item:hover img {
  filter: blur(2px);
}
body .gallery .item h3 {
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  transition: 0.5s ease-in-out all;
  font-size: 20px;
  margin: 0;
  opacity: 0;
}
body .gallery .item:hover h3 {
  opacity: 1;
}
body .gallery .item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body .load-more {
  text-align: center;
  width: 250px;
  padding: 10px 50px;
  background-image: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 30px auto;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  body form input {
    font-size: 18px;
    font-weight: 500;
  }
  body form ion-icon {
    font-size: 24px;
  }
  body .gallery {
    grid-gap: 30px;
  }
}
#chat {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  width: 100%;
  z-index: 999999999;
  height: 100vh;
  overflow: auto;
}
#chat .times {
  font-size: 18px;
  position: absolute;
  color: white;
  z-index: 123;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  background-color: #f24e1e;
  border: none;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#chat .row {
  margin: 10px 0;
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.397);
}
#chat .row .left {
  padding: 0;
  min-height: 500px;
}
#chat .row .left .img {
  background: black;
  background: linear-gradient(0deg, black 0%, black 0%, rgba(0, 0, 0, 0.7402311266) 0%, rgba(0, 0, 0, 0.8018557765) 0%, rgba(0, 0, 0, 0.6954131995) 5%, rgba(0, 0, 0, 0.5973739838) 8%, rgba(73, 72, 72, 0.5217437317) 14%, rgba(131, 130, 130, 0) 21%, rgba(131, 130, 130, 0) 100%);
  height: 85%;
  position: relative;
  box-shadow: inset 0 0 0.5em 0.1em rgba(0, 0, 0, 0.377) !important;
}
#chat .row .left .img img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#chat .row .left .img .infoPhoto {
  border-top-right-radius: 10px;
  color: white;
  background: rgba(187, 178, 178, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
}
#chat .row .left .img .infoPhoto .title {
  font-size: 22px;
  font-weight: 700;
}
#chat .row .left .userProfil {
  margin: 20px 0px;
  object-fit: cover;
}
#chat .row .left .userProfil div p {
  margin: 0;
}
#chat .row .left div .img-responsive {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.425);
}
#chat .row .right {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding: 20px;
  background: url("../images/chatbg.png");
  background-position: center;
  background-size: cover;
}
#chat .row .right .chat-body {
  height: 500px;
  overflow: auto;
  width: 100%;
}
#chat .row .right .messageBox {
  color: black !important;
  width: 100%;
  display: flex;
  overflow: hidden;
}
#chat .row .right .messageBox.myMessage {
  color: black !important;
  justify-content: end;
}
#chat .row .right .messageBox.myMessage img {
  order: 2;
}
#chat .row .right .messageBox.myMessage .userName {
  color: #b13e27 !important;
  text-align: right;
}
#chat .row .right .messageBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#chat .row .right .messageBox .message {
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(11.1px);
  -webkit-backdrop-filter: blur(11.1px);
}
#chat .row .right .messageBox .message .messageText {
  font-size: 18px;
}
#chat .row .right .messageBox .message .userName {
  font-size: 15px;
  color: #f24e1e;
}
#chat .row .right form {
  background-color: white;
  padding: 0 20px;
  border-radius: 50px;
  margin-top: 10px;
}
#chat .row .right form input {
  background-color: white;
  border: none;
  margin-right: 20px;
}
#chat .row .right form button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

#signInModal {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.4) url("https://wallpaperaccess.com/full/158867.jpg");
  background-size: cover;
}
#signInModal button {
  border: none;
  outline: none;
  margin: 0 15px;
}
#signInModal .saveBtn {
  display: block;
  margin: 10px auto;
  background: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  color: #fff;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0 2px 3px #f24e1e;
}
#signInModal form {
  width: 90%;
  max-width: 600px;
  padding: 100px 20px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* From https://css.glass */
  background: rgba(187, 155, 150, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
}
#signInModal form .form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
#signInModal form .form-header .logBtn {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  background: transparent;
}
#signInModal form .form-header .logBtn.active {
  background: linear-gradient(262deg, #f68052 5%, #f16840 20%, #f24e1e 50%, #f16840 80%, #f68052 95%);
  color: #fff;
  box-shadow: 0 2px 3px #f24e1e;
}
#signInModal form h1 {
  margin: 20px auto;
}
#signInModal form input {
  width: 80%;
  background: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 20px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #f24e1e;
}
#signInModal form input:focus {
  border: 2px solid #f24e1e;
  border-radius: 50px;
}
#signInModal form input::autofill {
  background-color: white !important;
}

@media screen and (max-width: 410px) and (min-width: 300px) {
  button {
    font-size: 14px !important;
    padding: 7px 15px !important;
    margin: 0;
  }
}
.brand-part {
  margin-bottom: 40px;
}
.brand-part .team-about a {
  background-color: #f24e1e;
  padding: 10px 30px;
  margin-right: 30px;
  border: 3px solid transparent;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.2s linear;
}
.brand-part .team-about a:hover {
  background-color: transparent;
  border: 3px solid #f24e1e;
  color: #f24e1e;
}

.addImgModal {
  padding: 50px 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.27);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  overflow: auto;
  z-index: 999999999999999;
  width: 100%;
  height: 100vh;
}
.addImgModal .row {
  padding: 20px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  background-color: white;
}
.addImgModal .col-md-6 .infoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  border-radius: 10px;
  border: none;
  height: 100%;
  padding: 15px;
}
.addImgModal .col-md-6 .infoBox input {
  padding: 5px;
}
.addImgModal .col-md-6 .infoBox textarea {
  height: 50%;
  padding: 10px;
  resize: none;
}
.addImgModal .col-md-6 .infoBox input,
.addImgModal .col-md-6 .infoBox textarea {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.addImgModal .col-md-6 .infoBox div {
  width: 100%;
  display: flex;
  gap: 10px;
}
.addImgModal .col-md-6 .infoBox div button {
  width: 50%;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 16px;
  outline: none;
  border: none;
  color: white;
}
.addImgModal .col-md-6 .infoBox div .beck {
  background-color: #f86d42;
}
.addImgModal .col-md-6 .infoBox div .submitImg {
  background-color: #0be881;
}
.addImgModal .col-md-6 .imgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}
.addImgModal .col-md-6 .imgBox .img-fluid {
  margin: 0 auto;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .addImgModal {
    padding: 10px !important;
  }
  .addImgModal .row {
    align-items: flex-start;
  }
  .addImgModal .row .col-md-6 .infoBox {
    justify-content: flex-start;
  }
}

#userAccount .container .accountRow {
  display: flex;
  gap: 30px;
}
#userAccount .container .accountRow .left .accountImg {
  width: 300px;
  height: 300px;
}
#userAccount .container .accountRow .left .accountImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
#userAccount .container .accountRow .right .infoProfile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#userAccount .container .accountRow .right .infoProfile .userName {
  font-size: 22px;
  font-weight: 700;
}
#userAccount .container .accountRow .right .infoProfile .followBtn {
  border: none;
  outline: none;
  background-color: #F24E1E;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 50px;
  border-radius: 50px;
}

@media screen and (max-width: 700px) and (min-width: 490.01px) {
  .accountRow {
    padding-left: 50px;
  }
  .accountRow .left .accountImg {
    width: 220px !important;
    height: 220px !important;
  }
}
@media screen and (max-width: 490px) and (min-width: 200px) {
  .accountRow {
    gap: 15px !important;
  }
  .accountRow .left .accountImg {
    width: 180px !important;
    height: 180px !important;
  }
  .accountRow .right .followBtn {
    padding: 6px 30px !important;
  }
  .accountRow .right .infoProfile p {
    margin: 5px;
  }
  .accountRow .right .infoProfile .userName {
    font-size: 19px !important;
  }
}

/*# sourceMappingURL=main.css.map */
