body {
  .gallery {
    .item {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      margin-bottom: 20px;
      transition: 0.3s ease box-shadow;

      &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        img {
          filter: blur(2px);
        }
      }

      h3 {
        width: 100%;
        padding: 30px;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-weight: bold;
        color: aliceblue;
        transition: 0.5s ease-in-out all;
        font-size: 20px;
        margin: 0;
        opacity: 0;
      }

      &:hover h3 {
        opacity: 1;
      }

      a {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .load-more {
    text-align: center;
    width: 250px;
    padding: 10px 50px;
    background-image: $color-primary-btn;
    border-radius: $border-radius;
    color: #fff;
    font-size: $button-fs;
    font-weight: 500;
    margin: 30px auto;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
}
@media only screen and (min-width: 900px) {
  body {
    form {
      input {
        font-size: $button-fs;
        font-weight: 500;
      }
      ion-icon {
        font-size: 24px;
      }
    }
    .gallery {
      grid-gap: 30px;
    }
  }
}
