$color-primary-btn: linear-gradient(
  262deg,
  rgba(246, 128, 82, 1) 5%,
  rgba(241, 104, 64, 1) 20%,
  rgba(242, 78, 30, 1) 50%,
  rgba(241, 104, 64, 1) 80%,
  rgba(246, 128, 82, 1) 95%
);
$border-radius: 50px;
$button-fs: 18px;
$button-fw: 700;

$color-bg: #f2e9e4;
$text-color-primary: #22223b;
$text-color-secondary: #9a8c98;
$test-color: white;
