  body.dark {
      transition: .5s;
      color: white !important;
    background-color: #2f3640;
    header{
        transition: .5s;
        background-color: #353b48;
    }
    aside{
        background-color: #171B20;
    }
    input{
        background-color: #2F3640;
        color: #f24f1ec0;
    }
    .load-more{
        background-color: #f24f1ec0;
    }
  }
  

  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.checkbox:checked + .label {
      background-color: #F24E1E;
  }




  .fa-moon {
      color: white;
    // color: #a5b1c2;
  }
  
  .fa-sun {
      color: white;
    // color: #fff200;
  }